.text {
   display: flex;
   flex-direction: column;
    max-width: 320px;
   
    
}
.text__global {
    
    border: 1px solid $DarkShade-25;
    border-radius: 0.5em;
    outline: none;

    font-size: $fn-xs;
    
    margin-top: 0.5em;
    padding: 1em 0;
    padding-left: 1em;

    width: 100%;
    
    

    
}