mixin TextSubscribe()
    div(class = "text")
        label(for="text-subscribe") 
            h3 Заголовок
        div(class = "text__wrapper-block text__subscribe-email_width")
            input(type="text" class = "text__subscribe-email text__global text__global_hover-focus" id = "text-subscribe" placeholder = "Email")
            div(class = "text__arrow-right")