include blocks/form-elements/text/__user/text__user.pug
include blocks/form-elements/text/__date/text__date.pug
include blocks/form-elements/text/__subscribe-email/text__subscribe__email.pug
doctype html
html(lang="ru")
      head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title Document
      body
            
            +TextSubscribe()
            +TextDate()
            +TextUser("Email", "Пароль", "pay-user")
            
            

            
            