mixin TextDate()    
    div(class = "text")
        label(for="text-date")
            h3 Дата рождения
        input(type="text" class = "text__date text__global text__global_hover-focus" id = "text-date" placeholder = "ДД.ММ.ГГ")