mixin TextUser(firstValue, secondValue, condition) 
    div(class = "text")
        label(for = "text__" + condition + "_first-field")
            if condition == "registr"
                h1 Регистрация аккаунта
            else if condition == "enter"
                h1 Войти
            else 
                h3 Данные для входа в сервис
        input(type="text" class = "text__user text__global text__global_hover-focus" id = "text__" + condition + "_first-field"  placeholder = firstValue)
        input(type="text" class = "text__user text__global text__global_hover-focus" id = "text__" + condition + "_second-field" placeholder = secondValue)